body {
    margin: 0;
    padding: 0;
    background-image: url('fundo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
  }

  