.image-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 12px;
  }
  
  .image-column img {
    display: flex;
    justify-content: center; /* Alinha horizontalmente no centro */
    align-items: center; /* Alinha verticalmente no centro */
    display: flex;
    width: 600px;
    height: 500px;
    object-fit: contain;
    border-radius: 8px;
    background-color: #afafaf00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    border-radius: 12px;
  }
  
  .portfolio-side-box {
    font-size: 45px;
    width: 400px;
    height: 999px;
    color: #cccccc00;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 12px;
  }
  
  .portfolio-side-box p {
    font-size: 16px;
    line-height: 1.6;
    border-radius: 12px;
  }
  
  .content-box,
  .portfolio-title-box {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
    border-radius: 12px;
    background-color: #afafaf8c;
  }
  
  .portfolio-title-box {
    width: 1000px;
    height: 150px;
    color: #2c2c2c;
    margin-bottom: 30px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .portfolio-section {
    display: flex;
    gap: 10px;
    width: 1000px;
    margin-bottom: 200px;
    border-radius: 12px;
  }
